* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 1rem;
    background-color: #082032;
    margin-bottom: 2rem;
}

header {
    display: flex;
    width: 100%;
    column-gap: 0.75rem;
}

p {
    color: white;
}

form {
    display: flex;
    column-gap: 0.75rem;
    width: 100%;
}

input {
    border: solid 1px #ccc;
    padding: 1rem;
    border-radius: 6px;
    flex: 1 0 auto;
}

button {
    cursor: pointer;
    min-width: 40px;
    max-width: 40px;
    background-color: transparent;
    border: none;
}

.material-symbols-outlined {
    color: white;
}

hr {
    margin: 1rem 0;
}

h1,
h2 {
    color: #ff4c29;
}

h1 {
    margin: 1rem 1rem;
    font-size: 2rem;
}

h2 {
    margin: 3rem 2rem 1.5rem;
}

h2:hover {
    text-decoration: underline;
}

#now-playing__container,
#popular__container,
#top-rated__container,
#upcoming__container {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    column-gap: 1rem;
}

.movie-card--category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    height: auto;
    flex: 1 0 auto;
    border-radius: 12px;
    overflow: hidden;
    background-color: #334756;
    filter: brightness(100%);
    transition: filter 0.3s ease;
}

.movie-card--category:hover {
    filter: brightness(85%);
}

.movie-card__img-container--category {
    width: 185px;
    height: 278px;
    max-width: 185px;
    max-height: 278px;
}

.movie-card__poster-img--category {
    width: 100%;
    height: 100%;
}

.movie-card__info-container--category {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    /* row-gap: 1rem; */
    align-items: center;
    justify-items: center;
    padding: 0.4rem;
    height: 100%;
}

.movie-card__title--category {
    padding: 0.5rem 0;
    font-size: 0.85rem;
    font-weight: 600;
    text-align: center;
}

.rating--category {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
}

.rating--category .material-symbols-outlined {
    font-size: 1rem;
}

.genres--category {
    font-size: 0.75rem;
    text-align: center;
    font-style: italic;
}

.results-title {
    margin: 1rem 2rem;
    font-size: 2rem;
    color: #ff4c29;
}

#page-ctrl {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 1rem;
    padding: 2rem;
    width: 100%;
    align-items: center;
}

#prev-btn,
#next-btn {
    flex: 1 0 6rem;
    min-width: 6rem;
    height: 3rem;
    background-color: white;
    font-size: 0.85rem;
    border-radius: 0.35rem;
}

#prev-btn:hover,
#next-btn:hover {
    background-color: #ddd;
}

#page-info {
    flex: 1 0 auto;
    text-align: center;
}

#movies__container-message {
    color: white;
}

#movies__container {
    display: none;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    row-gap: 1rem;
}

.movie-card {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* border: solid 1px #ccc; */
    width: 100%;
    flex: 1 0 auto;
    border-radius: 12px;
    overflow: hidden;
    background-color: #334756;
    filter: brightness(100%);
    transition: filter 0.3s ease;
}

.movie-card:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.movie-card__img-container {
    min-width: 154px;
    min-height: 231px;
    max-width: 154px;
    max-height: 231px;
}

.movie-card__poster-img {
    width: 100%;
    height: 100%;
}

.movie-card__info-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    /* justify-content: center;
    align-items: center; */
    text-align: left;
    margin: 1rem;
    white-space: pre-line;
}

.movie-card__title {
    font-size: 0.95rem;
    font-weight: 600;
}

.movie-card__overview {
    font-size: 0.85rem;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
